.result_box {
  width: 80%;
  min-height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem 0;
  padding: 5vh 5%;
}

.results{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px;
}

.result_box{
  gap: 3rem;
}
.result_box header{
  font-size: 1.8rem;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  border-bottom: 2px solid var(--var-theme);
}
.result_box header h3{
  font-weight: 400;
}
.result{
  width: 300px;
  height: 380px;
  background-position: center;
  background-size: cover;
  position: relative;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.result p{
  display: flex;
  flex-direction: column;
  background: var(--var-theme);
  color: white;
  padding: 10px;
  border-radius: 0 10px 0 10px;
}
.result p span:nth-child(1){
  font-size: 1.1rem;
}
.result p span:nth-child(2){
  font-size: 1.4rem;
  color: wheat;
  border-top: 2px solid wheat;
  font-weight: 600;
}
.result .pos{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  font-family: 'Bebas Neue', cursive;
  background: wheat;
  font-size: 1.6rem;
  justify-content: center;
  text-align: center;
  top: -25px;
  right: -25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media all and (max-width:830px){
  .results{
    display: flex;
    gap: 2rem 0;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

