.vote_box {
  width: 90%;
  padding: 5vh 0;
}
form{
  margin: 5vh 0;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
form button{
  padding: 10px 15px;
  width: 100px;
  background: var(--var-theme);
  color: springgreen;
  cursor: pointer;
  border-radius: 40px;
}
.swiper-slide section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.swiper-slide section h3 {
  font-size: 2.4rem;
}

.can_box {
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  display: flex;
  width: 100%;
}

.can {
  width: 300px;
}

label {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border: 1px solid darkgray;
}


.can p {
  display: flex;
  gap: 0.5rem;
  font-size: 1.3rem;
  flex-direction: column;
  align-items: center;
}

.cover {
  width: 100%;
  font-size: 4rem;
  color: springgreen;
  top: -100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.409);
  position: absolute;
  transition: 0.4s ease;
}

label>input {
  display: none;
}

label>input:checked+.cover {
  top: 0;
}

.img_box {
  width: 100%;
  height: 350px;
  background-position: center;
  background-size: cover;
}

.next_slide, .prev_slide {
  background: var(--var-theme);
  color: springgreen;
  font-size: 1.2rem;
  cursor: pointer;
  margin: 1vh 0;
  border-radius: 3px;
  padding: 8px 20px;
  font-size: 2rem;
  font-weight: 600;
}

nav{
  display: flex;
  gap: 0 0.5rem;
}

@media all and (max-width:500px) {
  .next_slide, .prev_slide {
    display: none;
  }
}